
.bounce {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font: normal bold 1rem "Product Sans", sans-serif;
    white-space: nowrap;
  }
  
  .letter {
    display: inline-block;
    transform: translate3d(0, 0, 0);

    text-shadow: rgba(0, 0, 0, 0.4) 0 0 0.05em;
    font: normal bold 2.3rem "Product Sans", sans-serif;
  }
  
  
  @-webkit-keyframes bounce {
    0% {
      transform: translate3d(0, 0, 0);
      text-shadow: rgba(0, 0, 0, 0.4) 0 0 0.05em;
    }
    100% {
      transform: translate3d(0, -0.5em, 0);
      text-shadow: rgba(0, 0, 0, 0.4) 0 1em 0.35em;
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translate3d(0, 0, 0);
      text-shadow: rgba(0, 0, 0, 0.4) 0 0 0.05em;
    }
    100% {
      transform: translate3d(0, -0.5em, 0);
      text-shadow: rgba(0, 0, 0, 0.4) 0 1em 0.35em;
    }
  }